

*{
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

#menusuperior{
    background-image: url(images/fundo-menusperior.svg);
    color: white;
}

#logo{
    width: 125px;
    height: 62px;
    margin: 56px 0px 0px 52px;
}

#titulo-menusuperior{

    margin: 50px 0px 0px 150px;
}

#texto-menusuperior{
    margin: 35px 0px 0px 150px;
    padding-bottom: 100px;
}

#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

.textoinformativo{
    display: flex;
    align-items: center;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#titulovideo{
    color: #247BA0;
    margin-top: 50px;
}

#textovideo{
    color: #383838;
}

#video{
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color: #247BA0;
    padding: 100px;
}

#titulo-carrossel{
    color: #EAECE5;
    text-align: center;
    font-size: 25px;
}

#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

.card{
    margin-left: 50px;
}

#seta-esquerda{
    display: none;
}

#Bruna{
    display: none;
}

.seta{
    margin-top: 50%;
    cursor: pointer;
}

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#formulario{
    text-align: center;

}

#titulo-formulario{
    color: #383838;
    font-size: 25px;
    margin: 25px;
}

input{
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    margin: 10px;
    border: 0px;
    border-radius: 8px;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    border-radius: 8px;
    color: #FFFFFF;
    border: 0px;
    margin-bottom: 50px;
    margin-top: 12px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #3692b9;
    color: white;
    transform: translateY(-4px);
    transition-duration: 0.5s;
    box-shadow: 0px 15px 20px #0511317a;
}